In [1]:
import plotly.plotly as py
import plotly.graph_objs as go 

from datetime import datetime
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/sample.csv')
df.columns = [col.replace('nan', '') for col in df.columns]

In [3]:
#convert dataframe to numeric
df = df.convert_objects(convert_numeric=True)
df.head()

,index,State,public4Year_total,public4Year_tuitionFees,public4Year_room,public4Year_board,public4Year_outStateTotal,privateTotal,privatetuitionFees,privateRoom,privateBoard,public2YInState,public2YOutState
0,1,AL,19052.005,9466.105,5385.984,4199.916,23999.508,24709.536,15421.537,4676.622,4611.377,4362.02,9074.60
1,2,AK,17370.129,7210.342,5830.018,4329.769,21431.489,26131.550,18876.363,3622.961,3632.226,3820.00,3820.00
2,3,AZ,21490.559,10056.575,6696.872,4737.112,25061.481,22558.535,13139.738,5099.811,4318.986,2129.20,7931.35
3,4,AR,16871.207,7924.042,4958.633,3988.532,19322.961,29803.687,21709.817,4100.080,3993.790,3195.11,4582.08
4,5,CA,21355.599,7896.422,7531.504,5927.673,28253.183,44721.640,31495.075,7467.173,5759.392,1261.82,7120.07

In [4]:
trace_high = go.Scatter(x=list(df.State),
                        y=list(df.privateTotal),
                        name='High',
                        line=dict(color='#008000'))

In [5]:
trace_high_avg = go.Scatter(x=list(df.State),
                            y=[df.privateTotal.mean()]*len(df.State),
                            name='High Average',
                            visible=False,
                            line=dict(color='#008000', dash='dash'))

In [6]:
trace_low = go.Scatter(x=list(df.State),
                       y=list(df.public4Year_total),
                       name='Low',
                       line=dict(color='#800000'))

In [7]:
trace_low_avg = go.Scatter(x=list(df.State),
                           y=[df.public4Year_total.mean()]*len(df.State),
                           name='Low Average',
                           visible=False,
                           line=dict(color='#800000', dash='dash'))

In [8]:
#public4Year_outState
trace_low2 = go.Scatter(x=list(df.State),
                       y=list(df.public4Year_outStateTotal),
                       name='Low2',
                       line=dict(color='#000080'))

In [9]:
trace_low2_avg = go.Scatter(x=list(df.State),
                           y=[df.public4Year_outStateTotal.mean()]*len(df.State),
                           name='Low2 Average',
                           visible=False,
                           line=dict(color='#000080', dash='dash'))

In [10]:
#public2YInState
trace_low3 = go.Scatter(x=list(df.State),
                        y=list(df.public2YInState),
                        name='2YearIn',
                        line=dict(color='#000000'))

In [11]:
trace_low3_avg = go.Scatter(x=list(df.State),
                            y=[df.public2YInState.mean()]*len(df.State),
                            name='2YearIn Average',
                            visible=False,
                            line=dict(color='#000000', dash='dash'))

In [12]:
data = [trace_high, trace_high_avg, trace_low, trace_low_avg, trace_low2, trace_low2_avg,trace_low3, trace_low3_avg]

In [13]:
high_annotations=[dict(x='State',
                       y=df.privateTotal.mean(),
                       xref='x', yref='y',
                       text='High Average:<br>'+str(df.privateTotal.mean()),
                       ax=0, ay=-40),
                  dict(x=df.privateTotal.idxmax(),
                       y=df.privateTotal.max(),
                       xref='x', yref='y',
                       text='High Max:<br>'+str(df.privateTotal.max()),
                       ax=0, ay=-40)]

In [14]:
low_annotations=[dict(x='State',
                      y=df.public4Year_total.mean(),
                      xref='x', yref='y',
                      text='Low Average:<br>'+str(df.public4Year_total.mean()),
                      ax=0, ay=40),
                 dict(x=df.privateTotal.idxmin(),
                      y=df.public4Year_total.min(),
                      xref='x', yref='y',
                      text='Low Min:<br>'+str(df.public4Year_total.min()),
                      ax=0, ay=40)]

In [15]:
low2_annotations=[dict(x='State',
                      y=df.public4Year_outStateTotal.mean(),
                      xref='x', yref='y',
                      text='Low2 Average:<br>'+str(df.public4Year_outStateTotal.mean()),
                      ax=0, ay=40),
                 dict(x=df.privateTotal.idxmin(),
                      y=df.public4Year_outStateTotal.min(),
                      xref='x', yref='y',
                      text='Low2 Min:<br>'+str(df.public4Year_outStateTotal.min()),
                      ax=0, ay=40)]

In [16]:
low3_annotations=[dict(x='State',
                       y=df.public2YInState.mean(),
                       xref='x', yref='y',
                       text='2YearIn Average:<br>'+str(df.public2YInState.mean()),
                       ax=0, ay=-40),
                  dict(x=df.privateTotal.idxmax(),
                       y=df.public2YInState.max(),
                       xref='x', yref='y',
                       text='2YearIn Max:<br>'+str(df.public2YInState.max()),
                       ax=0, ay=-40)]

In [17]:
updatemenus = list([
    dict(active=-1,
         buttons=list([   
            dict(label = 'High',
                 method = 'update',
                 args = [{'visible': [True, True, False, False]},
                         {'title': 'Tuition High',
                          'annotations': high_annotations}]),
            dict(label = 'Low',
                 method = 'update',
                 args = [{'visible': [False, False, True, True]},
                         {'title': 'Tuition Low',
                          'annotations': low_annotations}]),
             dict(label = 'Low2',
                 method = 'update',
                 args = [{'visible': [False, False, True, True]},
                         {'title': 'Tuition Low2',
                          'annotations': low2_annotations}]),
             dict(label = 'low3',
                 method = 'update',
                 args = [{'visible': [True, True, False, False]},
                         {'title': 'Tuition 2YearIn',
                          'annotations': high_annotations}]),
            dict(label = 'Both',
                 method = 'update',
                 args = [{'visible': [True, True, True, True]},
                         {'title': 'Public Vs Private 4 Year Tuition',
                          'annotations': high_annotations+low_annotations}]),
            dict(label = 'Reset',
                 method = 'update',
                 args = [{'visible': [True, False, True, False]},
                         {'title': 'Public Vs Private 4 Year Tuition',
                          'annotations': []}])
        ]),
    )
])

In [18]:
layout = dict(title='Public Vs Private 4 Year Tuition', showlegend=False,
              updatemenus=updatemenus)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='update_dropdown')